.element__like_active {
    background-color: transparent;
    background-image: url(../../../../images/like_button-active.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-style: none;
    width: 22px;
    height: 19px;
    transition: all .4s ease-in-out;
  }
  
  .element__like_active:hover {
    opacity: 50%;
    transform: scale(1.25);
    cursor: pointer;
  }