.element__delete {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    background-image: url(../../../images/trash.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-style: none;
    width: 18px;
    height: 19px;
    transition: all .4s ease-in-out;
  }
  
  .element__delete:hover {
    opacity: 50%;
    transform: scale(1.25);
    cursor: pointer;
  }